@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
 h1 {
    font-size: xx-large;
    text-align: center;
    font-family: Abril Fatface;
    }
h2{
    font-family: Roboto Slab;
    font-size: xx-large;
}  
.newspaper-container{
    width: 700px;;
    margin: 3em auto;
    border-radius: 10px;
    box-shadow: #ddd;
    background: #eee;
}  
nav li{
    
    display: inline;
    padding: 10px;
  
}
nav li a{
    color: #777;
}
nav{
    
    text-align: center;
    display: block;
}
nav{
    top: 0;
    border-top: solid #777;
    border-bottom: solid #777
}
main h2{
    text-align: left;
}
section{
    border-radius: 10px;
    background: #eee;
    width: 45%;
    display: inline;
    padding: 1em;
    float: left;
}
h5{
    color: red;
}
body{
    border-radius: 10px color #ddd;
 padding: 5em;
    margin: auto;
    background-color: #ddd;
    box-shadow:#eee;
}
h4{
    font-size: larger;
}
  

